<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-2019년-실적데이터-전처리" data-toc-modified-id="1.-2019년-실적데이터-전처리-1">1. 2019년 실적데이터 전처리</a></span><ul class="toc-item"><li><span><a href="#1.1-데이터-로드" data-toc-modified-id="1.1-데이터-로드-1.1">1.1 데이터 로드</a></span></li><li><span><a href="#1.2-데이터-타입-확인" data-toc-modified-id="1.2-데이터-타입-확인-1.2">1.2 데이터 타입 확인</a></span></li><li><span><a href="#1.3-결측치-처리" data-toc-modified-id="1.3-결측치-처리-1.3">1.3 결측치 처리</a></span><ul class="toc-item"><li><span><a href="#1.3.1-노출(분)-결측치-처리" data-toc-modified-id="1.3.1-노출(분)-결측치-처리-1.3.1">1.3.1 노출(분) 결측치 처리</a></span></li><li><span><a href="#1.3.2-취급액-결측치-처리" data-toc-modified-id="1.3.2-취급액-결측치-처리-1.3.2">1.3.2 취급액 결측치 처리</a></span></li></ul></li><li><span><a href="#1.4-칼럼-추가" data-toc-modified-id="1.4-칼럼-추가-1.4">1.4 칼럼 추가</a></span><ul class="toc-item"><li><span><a href="#1.4.1-주문량(건수)-칼럼-추가" data-toc-modified-id="1.4.1-주문량(건수)-칼럼-추가-1.4.1">1.4.1 주문량(건수) 칼럼 추가</a></span></li><li><span><a href="#1.4.2-방송날짜,-방송월,-방송일,-방송요일,-방송시간,-평일/주말-칼럼-추가" data-toc-modified-id="1.4.2-방송날짜,-방송월,-방송일,-방송요일,-방송시간,-평일/주말-칼럼-추가-1.4.2">1.4.2 방송날짜, 방송월, 방송일, 방송요일, 방송시간, 평일/주말 칼럼 추가</a></span></li><li><span><a href="#1.4.3-공휴일-칼럼-추가" data-toc-modified-id="1.4.3-공휴일-칼럼-추가-1.4.3">1.4.3 공휴일 칼럼 추가</a></span></li><li><span><a href="#1.4.4-계절-칼럼-추가" data-toc-modified-id="1.4.4-계절-칼럼-추가-1.4.4">1.4.4 계절 칼럼 추가</a></span></li><li><span><a href="#1.4.5-방송회차-칼럼-추가" data-toc-modified-id="1.4.5-방송회차-칼럼-추가-1.4.5">1.4.5 방송회차 칼럼 추가</a></span></li><li><span><a href="#1.4.6-무이자/일시불-칼럼-추가" data-toc-modified-id="1.4.6-무이자/일시불-칼럼-추가-1.4.6">1.4.6 무이자/일시불 칼럼 추가</a></span></li></ul></li></ul></li><li><span><a href="#2.-6월-평가데이터-전처리" data-toc-modified-id="2.-6월-평가데이터-전처리-2">2. 6월 평가데이터 전처리</a></span><ul class="toc-item"><li><span><a href="#2.1-데이터-로드" data-toc-modified-id="2.1-데이터-로드-2.1">2.1 데이터 로드</a></span></li><li><span><a href="#2.2-데이터-타입-확인" data-toc-modified-id="2.2-데이터-타입-확인-2.2">2.2 데이터 타입 확인</a></span></li><li><span><a href="#2.3-결측치-처리" data-toc-modified-id="2.3-결측치-처리-2.3">2.3 결측치 처리</a></span><ul class="toc-item"><li><span><a href="#2.3.1-노출(분)-결측치-처리" data-toc-modified-id="2.3.1-노출(분)-결측치-처리-2.3.1">2.3.1 노출(분) 결측치 처리</a></span></li></ul></li><li><span><a href="#2.4-칼럼-추가" data-toc-modified-id="2.4-칼럼-추가-2.4">2.4 칼럼 추가</a></span><ul class="toc-item"><li><span><a href="#2.4.1-방송날짜,-방송월,-방송일,-방송요일,-방송시간,-평일/주말-칼럼-추가" data-toc-modified-id="2.4.1-방송날짜,-방송월,-방송일,-방송요일,-방송시간,-평일/주말-칼럼-추가-2.4.1">2.4.1 방송날짜, 방송월, 방송일, 방송요일, 방송시간, 평일/주말 칼럼 추가</a></span></li><li><span><a href="#2.4.2-공휴일-칼럼-추가" data-toc-modified-id="2.4.2-공휴일-칼럼-추가-2.4.2">2.4.2 공휴일 칼럼 추가</a></span></li><li><span><a href="#2.4.3-계절-칼럼-추가" data-toc-modified-id="2.4.3-계절-칼럼-추가-2.4.3">2.4.3 계절 칼럼 추가</a></span></li><li><span><a href="#2.4.4-방송회차-칼럼-추가" data-toc-modified-id="2.4.4-방송회차-칼럼-추가-2.4.4">2.4.4 방송회차 칼럼 추가</a></span></li><li><span><a href="#2.4.5-무이자/일시불-칼럼-추가" data-toc-modified-id="2.4.5-무이자/일시불-칼럼-추가-2.4.5">2.4.5 무이자/일시불 칼럼 추가</a></span></li></ul></li></ul></li></ul></div>

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
import warnings
warnings.filterwarnings(action='ignore')

# 1. 2019년 실적데이터 전처리

## 1.1 데이터 로드

In [ ]:
data = pd.read_csv('data/train_data_03.csv', index_col = 0)
data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,시청률
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,0.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,0.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,0.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,0.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,0.0

## 1.2 데이터 타입 확인

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38309 entries, 0 to 38308
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    38309 non-null  object
 1   노출(분)   21525 non-null  float64
 2   마더코드    38309 non-null  int64
 3   상품코드    38309 non-null  int64
 4   상품명     38309 non-null  object
 5   상품군     38309 non-null  object
 6   판매단가    38309 non-null  int64
 7   취급액     35379 non-null  float64
 8   세부상품군   37372 non-null  object
 9   브랜드     37372 non-null  object
 10  시청률     38309 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 3.5+ MB

In [ ]:
# 데이터 타입 변환
data['방송일시'] = pd.to_datetime(data['방송일시'], format='%Y-%m-%d %H:%M:%S')
data['마더코드'] = data['마더코드'].astype(object)
data['상품코드'] = data['상품코드'].astype(object)

## 1.3 결측치 처리

### 1.3.1 노출(분) 결측치 처리
- 방송일시가 동일한 상품은 노출 시간 또한 동일하다고 판단하여 같은 값으로 처리함.

In [ ]:
data2 = data.copy()
for i in range(1, len(data2)):
    if data2['방송일시'][i-1] == data2['방송일시'][i]:
        data2['노출(분)'][i] = data2['노출(분)'][i-1]
data2.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,시청률
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,0.0
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,0.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,0.0
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,0.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,0.0

### 1.3.2 취급액 결측치 처리
- 판매단가가 0원인 무형, 보험 상품과 주문량이 0인 칼럼의 취급액은 NaN 값으로 표시되므로, 해당 칼럼을 제외함.

In [ ]:
data2 = data2.dropna(subset=['취급액']).reset_index(drop=True)
data2.isnull().sum()

방송일시     0
노출(분)    0
마더코드     0
상품코드     0
상품명      0
상품군      0
판매단가     0
취급액      0
세부상품군    0
브랜드      0
시청률      0
dtype: int64

## 1.4 칼럼 추가

### 1.4.1 주문량(건수) 칼럼 추가
- 건수 = 취급액/판매단가 (소수점 올림)

In [ ]:
data3 = data2.copy()
data3['건수'] = round(data3['취급액']/data3['판매단가'])

### 1.4.2 방송날짜, 방송월, 방송일, 방송요일, 방송시간, 평일/주말 칼럼 추가
- 방송요일 - 0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일
- 평일/주말 - 0:평일, 1:주말

In [ ]:
data3['방송날짜'] = data3['방송일시'].dt.date
data3['방송월'] = data3['방송일시'].dt.month
data3['방송일'] = data3['방송일시'].dt.day
data3['방송요일'] = data3['방송일시'].apply(lambda x:x.weekday())
data3['방송시간'] = data3['방송일시'].dt.time
data3['평일/주말'] = 0
data3.loc[(data3['방송요일']==5) | (data3['방송요일']==6), '평일/주말'] = 1

### 1.4.3 공휴일 칼럼 추가
- 0:공휴일 X, 1:공휴일 O

In [ ]:
# 공휴일이 담긴 파일 불러오기
holiday = pd.read_excel('data/국가공휴일.xlsx')
holiday.head()

   순서     년  월   일   설명
0   1  2018  1   1   새해
1   2  2018  2  15   설날
2   3  2018  2  16   설날
3   4  2018  2  17   설날
4   5  2018  3   1  삼일절

In [ ]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순서      66 non-null     int64
 1   년       66 non-null     int64
 2   월       66 non-null     int64
 3   일       66 non-null     int64
 4   설명      66 non-null     object
dtypes: int64(4), object(1)
memory usage: 2.7+ KB

In [ ]:
holiday['년'] = holiday['년'].astype(str)
holiday['월'] = holiday['월'].astype(str)
holiday['일'] = holiday['일'].astype(str)
holiday['방송날짜'] = holiday['년'] + '-' + holiday['월'] + '-' + holiday['일']
holiday['방송날짜'] = pd.to_datetime(holiday['방송날짜'])
holiday['공휴일'] = 1
holiday = holiday[['방송날짜', '공휴일']]
holiday.head()

        방송날짜  공휴일
0 2018-01-01    1
1 2018-02-15    1
2 2018-02-16    1
3 2018-02-17    1
4 2018-03-01    1

In [ ]:
holiday['방송날짜'] = holiday['방송날짜'].astype(str)
data3['방송날짜'] = data3['방송날짜'].astype(str)
data3 = pd.merge(data3, holiday, on='방송날짜', how='left')
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,시청률,건수,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,0.0,53.0,2019-01-01,1,1,1,06:00:00,0,1.0
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,0.0,110.0,2019-01-01,1,1,1,06:00:00,0,1.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,0.0,82.0,2019-01-01,1,1,1,06:20:00,0,1.0
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,0.0,174.0,2019-01-01,1,1,1,06:20:00,0,1.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,0.0,167.0,2019-01-01,1,1,1,06:40:00,0,1.0

In [ ]:
# 공휴일이 아닌 값을 0으로 채우기
data3['공휴일'] = data3['공휴일'].fillna(0)
data3['공휴일'] = data3['공휴일'].astype(int)
data3['공휴일'].value_counts()

0    33707
1     1672
Name: 공휴일, dtype: int64

### 1.4.4 계절 칼럼 추가
- 봄:3 ~ 5월, 여름:6 ~ 8월, 가을:9 ~ 11월, 겨울:12 ~ 2월

In [ ]:
data3['계절'] = np.nan
data3.loc[(data3['방송월'] >= 3) & (data3['방송월'] <= 5), '계절'] = '봄'
data3.loc[(data3['방송월'] >= 6) & (data3['방송월'] <= 8), '계절'] = '여름'
data3.loc[(data3['방송월'] >= 9) & (data3['방송월'] <= 11), '계절'] = '가을'
data3.loc[(data3['방송월'] >= 12) | (data3['방송월'] <= 2), '계절'] = '겨울'
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,시청률,건수,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,0.0,53.0,2019-01-01,1,1,1,06:00:00,0,1,겨울
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,0.0,110.0,2019-01-01,1,1,1,06:00:00,0,1,겨울
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,0.0,82.0,2019-01-01,1,1,1,06:20:00,0,1,겨울
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,0.0,174.0,2019-01-01,1,1,1,06:20:00,0,1,겨울
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,0.0,167.0,2019-01-01,1,1,1,06:40:00,0,1,겨울

In [ ]:
data3['계절'].value_counts()

봄     9485
여름    8894
가을    8663
겨울    8337
Name: 계절, dtype: int64

### 1.4.5 방송회차 칼럼 추가

In [ ]:
# 방송일시, 노출(분) 기준으로 정렬
data4 = data3.sort_values(by=['방송일시','노출(분)'])
data4 = data4.reset_index(drop=True)

In [ ]:
# 방송일시가 중복되는 행을 제외한 데이터셋 생성
drop_idx = []
for i in range(1, len(data4)):
    if data4['방송일시'][i-1] == data4['방송일시'][i]:
        drop_idx.append(i)

In [ ]:
test_data = data4.copy()
test_data = test_data.drop(drop_idx, axis=0)
test_data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,시청률,건수,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,0.0,53.0,2019-01-01,1,1,1,06:00:00,0,1,겨울
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,0.0,82.0,2019-01-01,1,1,1,06:20:00,0,1,겨울
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,0.0,167.0,2019-01-01,1,1,1,06:40:00,0,1,겨울
6,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,브라/팬티,오모떼,0.0,116.0,2019-01-01,1,1,1,07:00:00,0,1,겨울
7,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,브라/팬티,오모떼,0.0,266.0,2019-01-01,1,1,1,07:20:00,0,1,겨울

In [ ]:
test_data['방송회차'] = 0
cnt = 0
for idx1, idx2 in zip(test_data.index[:-1], test_data.index[1:]):
    cnt += 1
    if test_data.loc[idx1, '상품명'] == test_data.loc[idx2, '상품명']:
        test_data.loc[idx1, '방송회차'] = cnt
    else:
        test_data.loc[idx1, '방송회차'] = cnt
        cnt = 0

# 마지막 index 처리
idx1 = test_data.index[-1]
idx2 = test_data.index[-2]
if test_data.loc[idx1, '상품명'] == test_data.loc[idx2, '상품명']:
    cnt += 1
    test_data.loc[idx1, '방송회차'] = cnt
else:
    test_data.loc[idx1, '방송회차'] = 0

In [ ]:
test_data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,건수,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,...,53.0,2019-01-01,1,1,1,06:00:00,0,1,겨울,1
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,...,82.0,2019-01-01,1,1,1,06:20:00,0,1,겨울,2
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,...,167.0,2019-01-01,1,1,1,06:40:00,0,1,겨울,3
6,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,브라/팬티,오모떼,...,116.0,2019-01-01,1,1,1,07:00:00,0,1,겨울,1
7,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,브라/팬티,오모떼,...,266.0,2019-01-01,1,1,1,07:20:00,0,1,겨울,2

In [ ]:
test_data['방송회차'].value_counts()

1    7136
2    6878
3    6108
4     200
5     125
6     117
8       1
7       1
Name: 방송회차, dtype: int64

In [ ]:
test_data2 = test_data[['방송회차']]
data5 = pd.merge(data4, test_data2, left_index=True, right_index=True, how='left')
data5.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,건수,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,...,53.0,2019-01-01,1,1,1,06:00:00,0,1,겨울,1.0
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,...,110.0,2019-01-01,1,1,1,06:00:00,0,1,겨울,NaN
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,...,82.0,2019-01-01,1,1,1,06:20:00,0,1,겨울,2.0
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,...,174.0,2019-01-01,1,1,1,06:20:00,0,1,겨울,NaN
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,...,167.0,2019-01-01,1,1,1,06:40:00,0,1,겨울,3.0

In [ ]:
# 앞의 값으로 결측치 채워주기
data5['방송회차'] = data5['방송회차'].fillna(method = 'ffill')
data5['방송회차'] = data5['방송회차'].astype(int)
data5.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,건수,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,...,53.0,2019-01-01,1,1,1,06:00:00,0,1,겨울,1
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,...,110.0,2019-01-01,1,1,1,06:00:00,0,1,겨울,1
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,...,82.0,2019-01-01,1,1,1,06:20:00,0,1,겨울,2
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,...,174.0,2019-01-01,1,1,1,06:20:00,0,1,겨울,2
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,...,167.0,2019-01-01,1,1,1,06:40:00,0,1,겨울,3

### 1.4.6 무이자/일시불 칼럼 추가
- 상품군별로 모델을 적용할 때 활용할 예정임.
- 독립표본 t-검정을 적용한 결과, t값이 10.582, p-value가 0으로 신뢰수준 99%하에서 무이자/일시불에 따른 전체 취급액에 차이가 있다고 볼 수 있음.
- 의류, 농수축에는 '무이자','일시불' 값이 존재하지 않으며, 가전, 침구는 차이가 없는 것으로 나타남.
- 신뢰수준 99%하에서 속옷, 주방, 이미용, 생활용품, 건강기능, 잡화, 가구의 무이자/일시불에 따른 취급액에 차이가 있는 것으로 보임.

In [ ]:
data5['무이자/일시불'] = np.nan
for i in range(len(data5)):
    if ('무이자' in data5['상품명'][i]) | ('(무)' in data5['상품명'][i]):
        data5['무이자/일시불'][i] = '무이자'
    elif ('일시불' in data5['상품명'][i]) | ('(일)' in data5['상품명'][i]):
        data5['무이자/일시불'][i] = '일시불'

In [ ]:
data5['무이자/일시불'].value_counts()

일시불    6297
무이자    6251
Name: 무이자/일시불, dtype: int64

In [ ]:
lump_sum = data5[data5['무이자/일시불']=='일시불']
no_interest = data5[data5['무이자/일시불']=='무이자']

# Levene의 등분산 검정
l_result = stats.levene(lump_sum['취급액'], no_interest['취급액'])
print('LeveneResult : %.3f \np-value : %.3f' % (l_result))

LeveneResult : 54.367
p-value : 0.000

In [ ]:
# 두 표본의 분산이 동일하지 않으므로, 등분산이 아닌 독립표본 t-검정 실행
result = stats.ttest_ind(lump_sum['취급액'], no_interest['취급액'], equal_var=False)
print('t statistic : %.3f \np-value : %.3f' % (result))

t statistic : 10.582
p-value : 0.000

In [ ]:
# 상품군별 t-검정 실행
for i in data5['상품군'].unique():
#     l_result = stats.levene(lump_sum[lump_sum['상품군']==i]['취급액'], no_interest[no_interest['상품군']==i]['취급액'])
#     print(i, 'LeveneResult : %.3f \np-value : %.3f' % (l_result))
    result = stats.ttest_ind(lump_sum[lump_sum['상품군']==i]['취급액'], no_interest[no_interest['상품군']==i]['취급액'], equal_var=False)
    print(i, 't statistic : %.3f \np-value : %.10f' % (result))

의류 t statistic : nan
p-value : nan
속옷 t statistic : 5.026
p-value : 0.0039366472
주방 t statistic : 9.808
p-value : 0.0000000000
농수축 t statistic : nan
p-value : nan
이미용 t statistic : 5.288
p-value : 0.0025332419
가전 t statistic : 0.305
p-value : 0.7606166475
생활용품 t statistic : 6.181
p-value : 0.0000000011
건강기능 t statistic : 14.970
p-value : 0.0000000000
잡화 t statistic : 6.338
p-value : 0.0000000036
가구 t statistic : 4.765
p-value : 0.0000020824
침구 t statistic : 2.601
p-value : 0.0194264511

In [ ]:
data5.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차,무이자/일시불
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,...,2019-01-01,1,1,1,06:00:00,0,1,겨울,1,NaN
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,...,2019-01-01,1,1,1,06:00:00,0,1,겨울,1,NaN
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,...,2019-01-01,1,1,1,06:20:00,0,1,겨울,2,NaN
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,...,2019-01-01,1,1,1,06:20:00,0,1,겨울,2,NaN
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,...,2019-01-01,1,1,1,06:40:00,0,1,겨울,3,NaN

In [ ]:
# 파일 저장
data5.to_csv('data/train_data_04.csv', index=False)

# 2. 6월 평가데이터 전처리

## 2.1 데이터 로드

In [ ]:
data = pd.read_csv('data/test_data_02.csv', index_col = 0)
data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카

## 2.2 데이터 타입 확인

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2891 entries, 0 to 2890
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    2891 non-null   object
 1   노출(분)   1780 non-null   float64
 2   마더코드    2891 non-null   int64
 3   상품코드    2891 non-null   int64
 4   상품명     2891 non-null   object
 5   상품군     2891 non-null   object
 6   판매단가    2891 non-null   int64
 7   취급액     0 non-null      float64
 8   세부상품군   2716 non-null   object
 9   브랜드     2646 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 248.4+ KB

In [ ]:
# 데이터 타입 변환
data['방송일시'] = pd.to_datetime(data['방송일시'], format='%Y-%m-%d %H:%M:%S')
data['마더코드'] = data['마더코드'].astype(object)
data['상품코드'] = data['상품코드'].astype(object)

## 2.3 결측치 처리

### 2.3.1 노출(분) 결측치 처리
- 방송일시가 동일한 상품은 노출 시간 또한 동일하다고 판단하여 같은 값으로 처리함.

In [ ]:
data2 = data.copy()
for i in range(1, len(data2)):
    if data2['방송일시'][i-1] == data2['방송일시'][i]:
        data2['노출(분)'][i] = data2['노출(분)'][i-1]
data2.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카

## 2.4 칼럼 추가

### 2.4.1 방송날짜, 방송월, 방송일, 방송요일, 방송시간, 평일/주말 칼럼 추가
- 방송요일 - 0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일
- 평일/주말 - 0:평일, 1:주말

In [ ]:
data3 = data2.copy()
data3['방송날짜'] = data3['방송일시'].dt.date
data3['방송월'] = data3['방송일시'].dt.month
data3['방송일'] = data3['방송일시'].dt.day
data3['방송요일'] = data3['방송일시'].apply(lambda x:x.weekday())
data3['방송시간'] = data3['방송일시'].dt.time
data3['평일/주말'] = 0
data3.loc[(data3['방송요일']==5) | (data3['방송요일']==6), '평일/주말'] = 1

In [ ]:
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0

### 2.4.2 공휴일 칼럼 추가
- 0:공휴일 X, 1:공휴일 O

In [ ]:
# 공휴일이 담긴 파일 불러오기
holiday = pd.read_excel('data/국가공휴일.xlsx')
holiday.head()

   순서     년  월   일   설명
0   1  2018  1   1   새해
1   2  2018  2  15   설날
2   3  2018  2  16   설날
3   4  2018  2  17   설날
4   5  2018  3   1  삼일절

In [ ]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순서      66 non-null     int64
 1   년       66 non-null     int64
 2   월       66 non-null     int64
 3   일       66 non-null     int64
 4   설명      66 non-null     object
dtypes: int64(4), object(1)
memory usage: 2.7+ KB

In [ ]:
holiday['년'] = holiday['년'].astype(str)
holiday['월'] = holiday['월'].astype(str)
holiday['일'] = holiday['일'].astype(str)
holiday['방송날짜'] = holiday['년'] + '-' + holiday['월'] + '-' + holiday['일']
holiday['방송날짜'] = pd.to_datetime(holiday['방송날짜'])
holiday['공휴일'] = 1
holiday = holiday[['방송날짜', '공휴일']]
holiday.head()

        방송날짜  공휴일
0 2018-01-01    1
1 2018-02-15    1
2 2018-02-16    1
3 2018-02-17    1
4 2018-03-01    1

In [ ]:
holiday['방송날짜'] = holiday['방송날짜'].astype(str)
data3['방송날짜'] = data3['방송날짜'].astype(str)
data3 = pd.merge(data3, holiday, on='방송날짜', how='left')
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0,NaN
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0,NaN
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0,NaN
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0,NaN
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0,NaN

In [ ]:
# 공휴일이 아닌 값을 0으로 채우기
data3['공휴일'] = data3['공휴일'].fillna(0)
data3['공휴일'] = data3['공휴일'].astype(int)
data3['공휴일'].value_counts()

0    2746
1     145
Name: 공휴일, dtype: int64

### 2.4.3 계절 칼럼 추가
- 봄:3 ~ 5월, 여름:6 ~ 8월, 가을:9 ~ 11월, 겨울:12 ~ 2월

In [ ]:
data3['계절'] = np.nan
data3.loc[(data3['방송월'] >= 3) & (data3['방송월'] <= 5), '계절'] = '봄'
data3.loc[(data3['방송월'] >= 6) & (data3['방송월'] <= 8), '계절'] = '여름'
data3.loc[(data3['방송월'] >= 9) & (data3['방송월'] <= 11), '계절'] = '가을'
data3.loc[(data3['방송월'] >= 12) | (data3['방송월'] <= 2), '계절'] = '겨울'
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0,0,여름
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0,0,여름
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0,0,여름
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0,0,여름
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0,0,여름

### 2.4.4 방송회차 칼럼 추가

In [ ]:
# 방송일시, 노출(분) 기준으로 정렬
data4 = data3.sort_values(by=['방송일시','노출(분)'])
data4 = data4.reset_index(drop=True)

In [ ]:
# 방송일시가 중복되는 행을 제외한 데이터셋 생성
drop_idx = []
for i in range(1, len(data4)):
    if data4['방송일시'][i-1] == data4['방송일시'][i]:
        drop_idx.append(i)

In [ ]:
test_data = data4.copy()
test_data = test_data.drop(drop_idx, axis=0)
test_data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0,0,여름
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0,0,여름
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0,0,여름
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0,0,여름
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0,0,여름

In [ ]:
test_data['방송회차'] = 0
cnt = 0
for idx1, idx2 in zip(test_data.index[:-1], test_data.index[1:]):
    cnt += 1
    if test_data.loc[idx1, '상품명'] == test_data.loc[idx2, '상품명']:
        test_data.loc[idx1, '방송회차'] = cnt
    else:
        test_data.loc[idx1, '방송회차'] = cnt
        cnt = 0

# 마지막 index 처리
idx1 = test_data.index[-1]
idx2 = test_data.index[-2]
if test_data.loc[idx1, '상품명'] == test_data.loc[idx2, '상품명']:
    cnt += 1
    test_data.loc[idx1, '방송회차'] = cnt
else:
    test_data.loc[idx1, '방송회차'] = 0

In [ ]:
test_data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0,0,여름,1
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0,0,여름,2
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0,0,여름,3
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0,0,여름,1
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0,0,여름,2

In [ ]:
test_data['방송회차'].value_counts()

1    600
2    583
3    559
4     18
6     10
5     10
Name: 방송회차, dtype: int64

In [ ]:
test_data2 = test_data[['방송회차']]
data5 = pd.merge(data4, test_data2, left_index=True, right_index=True, how='left')
data5.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0,0,여름,1.0
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0,0,여름,2.0
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0,0,여름,3.0
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0,0,여름,1.0
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0,0,여름,2.0

In [ ]:
# 앞의 값으로 결측치 채워주기
data5['방송회차'] = data5['방송회차'].fillna(method = 'ffill')
data5['방송회차'] = data5['방송회차'].astype(int)
data5.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0,0,여름,1
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0,0,여름,2
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0,0,여름,3
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0,0,여름,1
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0,0,여름,2

### 2.4.5 무이자/일시불 칼럼 추가

In [ ]:
data5['무이자/일시불'] = np.nan
for i in range(len(data5)):
    if ('무이자' in data5['상품명'][i]) | ('(무)' in data5['상품명'][i]):
        data5['무이자/일시불'][i] = '무이자'
    elif ('일시불' in data5['상품명'][i]) | ('(일)' in data5['상품명'][i]):
        data5['무이자/일시불'][i] = '일시불'

In [ ]:
data5['무이자/일시불'].value_counts()

무이자    235
일시불    228
Name: 무이자/일시불, dtype: int64

In [ ]:
data5.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차,무이자/일시불
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0,0,여름,1,NaN
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0,0,여름,2,NaN
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0,0,여름,3,NaN
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0,0,여름,1,NaN
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0,0,여름,2,NaN

In [ ]:
# 파일 저장
data5.to_csv('data/test_data_04.csv', index=False)