<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-2019년-실적데이터-전처리" data-toc-modified-id="1.-2019년-실적데이터-전처리-1">1. 2019년 실적데이터 전처리</a></span><ul class="toc-item"><li><span><a href="#1.1-데이터-로드" data-toc-modified-id="1.1-데이터-로드-1.1">1.1 데이터 로드</a></span></li><li><span><a href="#1.2-데이터-타입-확인" data-toc-modified-id="1.2-데이터-타입-확인-1.2">1.2 데이터 타입 확인</a></span></li><li><span><a href="#1.3-칼럼-추가" data-toc-modified-id="1.3-칼럼-추가-1.3">1.3 칼럼 추가</a></span><ul class="toc-item"><li><span><a href="#1.3.1-기상데이터-칼럼-추가" data-toc-modified-id="1.3.1-기상데이터-칼럼-추가-1.3.1">1.3.1 기상데이터 칼럼 추가</a></span></li><li><span><a href="#1.3.2-체감온도-칼럼-추가" data-toc-modified-id="1.3.2-체감온도-칼럼-추가-1.3.2">1.3.2 체감온도 칼럼 추가</a></span></li><li><span><a href="#1.3.3-강수여부-칼럼-추가" data-toc-modified-id="1.3.3-강수여부-칼럼-추가-1.3.3">1.3.3 강수여부 칼럼 추가</a></span></li></ul></li></ul></li><li><span><a href="#2.-6월-평가데이터-전처리" data-toc-modified-id="2.-6월-평가데이터-전처리-2">2. 6월 평가데이터 전처리</a></span><ul class="toc-item"><li><span><a href="#2.1-데이터-로드" data-toc-modified-id="2.1-데이터-로드-2.1">2.1 데이터 로드</a></span></li><li><span><a href="#2.2-데이터-타입-확인" data-toc-modified-id="2.2-데이터-타입-확인-2.2">2.2 데이터 타입 확인</a></span></li><li><span><a href="#2.3-칼럼추가" data-toc-modified-id="2.3-칼럼추가-2.3">2.3 칼럼추가</a></span><ul class="toc-item"><li><span><a href="#2.3.1-기상데이터-칼럼-추가" data-toc-modified-id="2.3.1-기상데이터-칼럼-추가-2.3.1">2.3.1 기상데이터 칼럼 추가</a></span></li><li><span><a href="#2.3.2-체감온도-칼럼-추가" data-toc-modified-id="2.3.2-체감온도-칼럼-추가-2.3.2">2.3.2 체감온도 칼럼 추가</a></span></li><li><span><a href="#2.3.3-강수여부-칼럼-추가" data-toc-modified-id="2.3.3-강수여부-칼럼-추가-2.3.3">2.3.3 강수여부 칼럼 추가</a></span></li></ul></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import warnings
warnings.filterwarnings(action='ignore')

# 1. 2019년 실적데이터 전처리

## 1.1 데이터 로드

In [2]:
# data = pd.read_excel('data/2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터_v1_200818.xlsx', header=1)
data = pd.read_csv('data/train_data_05.csv', index_col = 0)
data.head()

,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,시청률,...,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차,무이자/일시불,프라임시간
방송일시,,,,,,,,,,,,,,,,,,,,,
2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,0.0,...,1,1,1,06:00:00,0,1,겨울,1,NaN,0.0
2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,0.0,...,1,1,1,06:00:00,0,1,겨울,1,NaN,0.0
2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,0.0,...,1,1,1,06:20:00,0,1,겨울,2,NaN,0.0
2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,0.0,...,1,1,1,06:20:00,0,1,겨울,2,NaN,0.0
2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,0.0,...,1,1,1,06:40:00,0,1,겨울,3,NaN,0.0

In [3]:
# 2019 기상데이터
w19 = pd.read_csv('data/2019날씨.csv', encoding = 'cp949')
w19.head()

    지점 지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  전운량(10분위)
0  108  서울  2019-01-01 06:00    -7.9      NaN      1.3   60.0        4.0
1  108  서울  2019-01-01 07:00    -7.7      NaN      1.3   58.0        6.0
2  108  서울  2019-01-01 08:00    -7.7      NaN      0.9   57.0        8.0
3  108  서울  2019-01-01 09:00    -7.0      NaN      0.9   50.0        9.0
4  108  서울  2019-01-01 10:00    -4.9      NaN      1.6   44.0        8.0

## 1.2 데이터 타입 확인

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35379 entries, 2019-01-01 06:00:00 to 2020-01-01 00:00:00
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   노출(분)    35379 non-null  float64
 1   마더코드     35379 non-null  int64
 2   상품코드     35379 non-null  int64
 3   상품명      35379 non-null  object
 4   상품군      35379 non-null  object
 5   판매단가     35379 non-null  int64
 6   취급액      35379 non-null  float64
 7   세부상품군    35379 non-null  object
 8   브랜드      35379 non-null  object
 9   시청률      35379 non-null  float64
 10  건수       35379 non-null  float64
 11  방송날짜     35379 non-null  object
 12  방송월      35379 non-null  int64
 13  방송일      35379 non-null  int64
 14  방송요일     35379 non-null  int64
 15  방송시간     35379 non-null  object
 16  평일/주말    35379 non-null  int64
 17  공휴일      35379 non-null  int64
 18  계절       35379 non-null  object
 19  방송회차     35379 non-null  int64
 20  무이자/일시불  12548 non-null  object
 21  프라임시간    35379 non-null  float64
dtypes: float64(5), int64(9), object(8)
memory usage: 6.2+ MB

In [5]:
w19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17512 entries, 0 to 17511
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         17512 non-null  int64
 1   지점명        17512 non-null  object
 2   일시         17512 non-null  object
 3   기온(°C)     17512 non-null  float64
 4   강수량(mm)    1635 non-null   float64
 5   풍속(m/s)    17503 non-null  float64
 6   습도(%)      17512 non-null  float64
 7   전운량(10분위)  17491 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.1+ MB

## 1.3 칼럼 추가

### 1.3.1 기상데이터 칼럼 추가

In [6]:
data2 = data.copy()
w19_2 = w19.copy()

In [7]:
# 서울-수도권 기상 정보 평균
w19_2 = w19_2.groupby('일시').mean()
w19_2.head()

                     지점  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  전운량(10분위)
일시
2019-01-01 06:00  113.5   -8.05      NaN     1.00   73.0        3.5
2019-01-01 07:00  113.5   -8.20      NaN     0.75   73.5        5.0
2019-01-01 08:00  113.5   -7.85      NaN     0.55   73.0        7.5
2019-01-01 09:00  113.5   -6.20      NaN     0.75   60.5        8.0
2019-01-01 10:00  113.5   -4.05      NaN     1.15   49.5        7.0

In [8]:
del w19_2['지점']

In [9]:
w19_2 = w19_2.rename(columns = {'기온(°C)' : '평균기온(°C)'})

In [10]:
w19_2 = w19_2.fillna(0)

In [11]:
w19_2 = w19_2.reset_index()

In [12]:
# 20분 단위인 실적데이터와 병합하기 위해 시간단위 기준칼럼 새로 생성
w19_2['일시_시'] = pd.to_datetime(w19_2['일시'], format = '%Y-%m-%d %H')

w19_2['일시_시'] = w19_2['일시_시'].dt.strftime('%Y-%m-%d %H')

In [13]:
# 실적데이터도 병합을 위한 기준칼럼 생성

data2 = data2.reset_index()

data2['일시_시'] = pd.to_datetime(data2['방송일시'], format = '%Y-%m-%d %H')

data2['일시_시'] = data2['일시_시'].dt.strftime('%Y-%m-%d %H')

In [14]:
# merge
data3 = pd.merge(data2,w19_2, on = '일시_시')

In [15]:
# del data3['index']
del data3['일시_시']
del data3['일시']

In [16]:
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,공휴일,계절,방송회차,무이자/일시불,프라임시간,평균기온(°C),강수량(mm),풍속(m/s),습도(%),전운량(10분위)
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,...,1,겨울,1,NaN,0.0,-8.05,0.0,1.0,73.0,3.5
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,...,1,겨울,1,NaN,0.0,-8.05,0.0,1.0,73.0,3.5
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,...,1,겨울,2,NaN,0.0,-8.05,0.0,1.0,73.0,3.5
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,...,1,겨울,2,NaN,0.0,-8.05,0.0,1.0,73.0,3.5
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,...,1,겨울,3,NaN,0.0,-8.05,0.0,1.0,73.0,3.5

### 1.3.2 체감온도 칼럼 추가
  
- 체감온도(°C)
    - 13.12+0.6215×T-11.37V0.16+0.3965V0.16×T   
    - T = 기온, V = 풍속(km/h)

In [17]:
# 계산을 위해 풍속(km/h)으로 고치기

data3['풍속(km/h)'] = data3['풍속(m/s)'] *3.6

data3['체감온도'] = round(13.12+0.6215*data3['평균기온(°C)']-11.37*data3['풍속(km/h)']**0.16+0.3965*data3['풍속(km/h)']**0.16*data3['평균기온(°C)'],1)

In [18]:
del data3['풍속(km/h)']

In [19]:
data3[['방송일시','체감온도']]

                      방송일시  체감온도
0      2019-01-01 06:00:00  -9.8
1      2019-01-01 06:00:00  -9.8
2      2019-01-01 06:20:00  -9.8
3      2019-01-01 06:20:00  -9.8
4      2019-01-01 06:40:00  -9.8
...                    ...   ...
35374  2019-12-31 23:40:00   8.5
35375  2020-01-01 00:00:00  -7.0
35376  2020-01-01 00:00:00  -7.0
35377  2020-01-01 00:00:00  -7.0
35378  2020-01-01 00:00:00  -7.0

[35379 rows x 2 columns]

### 1.3.3 강수여부 칼럼 추가


- 비옴  
    - 강수량 >= 10mm

In [20]:
data3.loc[data3['강수량(mm)'] >= 1.0, '비옴'] = 1
data3.loc[data3['강수량(mm)'] < 1.0, '비옴'] = 0

# float -> int
data3['비옴'] = data3['비옴'].astype(int)

In [21]:
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,방송회차,무이자/일시불,프라임시간,평균기온(°C),강수량(mm),풍속(m/s),습도(%),전운량(10분위),체감온도,비옴
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,니트/터틀넥/기모,테이트,...,1,NaN,0.0,-8.05,0.0,1.0,73.0,3.5,-9.8,0
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,니트/터틀넥/기모,테이트,...,1,NaN,0.0,-8.05,0.0,1.0,73.0,3.5,-9.8,0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,니트/터틀넥/기모,테이트,...,2,NaN,0.0,-8.05,0.0,1.0,73.0,3.5,-9.8,0
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,니트/터틀넥/기모,테이트,...,2,NaN,0.0,-8.05,0.0,1.0,73.0,3.5,-9.8,0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,니트/터틀넥/기모,테이트,...,3,NaN,0.0,-8.05,0.0,1.0,73.0,3.5,-9.8,0

In [22]:
# 파일 저장
data3.to_csv('data/train_data_06.csv', index=False)

# 2. 6월 평가데이터 전처리

## 2.1 데이터 로드

In [23]:
# data = pd.read_excel('data/2020 빅콘테스트 데이터분석분야-챔피언리그_2020년 6월 판매실적예측데이터(평가데이터).xlsx', header=1)
data = pd.read_csv('data/test_data_05.csv', index_col = 0)
data.head()

,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,방송날짜,방송월,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차,무이자/일시불,프라임시간
방송일시,,,,,,,,,,,,,,,,,,,,
2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:20:00,0,0,여름,1,NaN,0.0
2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,06:40:00,0,0,여름,2,NaN,0.0
2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,2020-06-01,6,1,0,07:00:00,0,0,여름,3,NaN,0.0
2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:20:00,0,0,여름,1,NaN,1.0
2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,2020-06-01,6,1,0,07:40:00,0,0,여름,2,NaN,1.0

In [24]:
# 2020 기상데이터
w20 = pd.read_csv('data/202006날씨.csv', encoding = 'cp949')
w20.head()

    지점 지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  전운량(10분위)
0  108  서울  2020-06-01 06:00    16.7      0.1      3.4     90        4.0
1  108  서울  2020-06-01 07:00    16.9      NaN      2.3     86        8.0
2  108  서울  2020-06-01 08:00    17.8      NaN      3.3     80        7.0
3  108  서울  2020-06-01 09:00    19.3      NaN      2.1     73        2.0
4  108  서울  2020-06-01 10:00    20.5      NaN      3.4     62        1.0

## 2.2 데이터 타입 확인

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2891 entries, 2020-06-01 06:20:00 to 2020-07-01 01:40:00
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   노출(분)    2891 non-null   float64
 1   마더코드     2891 non-null   int64
 2   상품코드     2891 non-null   int64
 3   상품명      2891 non-null   object
 4   상품군      2891 non-null   object
 5   판매단가     2891 non-null   int64
 6   취급액      0 non-null      float64
 7   세부상품군    2716 non-null   object
 8   브랜드      2646 non-null   object
 9   방송날짜     2891 non-null   object
 10  방송월      2891 non-null   int64
 11  방송일      2891 non-null   int64
 12  방송요일     2891 non-null   int64
 13  방송시간     2891 non-null   object
 14  평일/주말    2891 non-null   int64
 15  공휴일      2891 non-null   int64
 16  계절       2891 non-null   object
 17  방송회차     2891 non-null   int64
 18  무이자/일시불  463 non-null    object
 19  프라임시간    2891 non-null   float64
dtypes: float64(3), int64(9), object(8)
memory usage: 474.3+ KB

In [26]:
w20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1434 entries, 0 to 1433
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         1434 non-null   int64
 1   지점명        1434 non-null   object
 2   일시         1434 non-null   object
 3   기온(°C)     1434 non-null   float64
 4   강수량(mm)    230 non-null    float64
 5   풍속(m/s)    1433 non-null   float64
 6   습도(%)      1434 non-null   int64
 7   전운량(10분위)  1430 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 89.8+ KB

## 2.3 칼럼추가

### 2.3.1 기상데이터 칼럼 추가

In [27]:
data2 = data.copy()
w20_2 = w20.copy()

In [28]:
# 서울-수도권 기상 정보 평균
w20_2 = w20_2.groupby('일시').mean()
w20_2.head()

                     지점  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  전운량(10분위)
일시
2020-06-01 06:00  113.5   16.70      0.1      2.9   94.5        6.0
2020-06-01 07:00  113.5   16.90      NaN      2.8   90.0        6.0
2020-06-01 08:00  113.5   17.85      NaN      3.0   84.0        7.0
2020-06-01 09:00  113.5   19.40      NaN      2.4   75.5        3.0
2020-06-01 10:00  113.5   20.60      NaN      3.3   65.0        1.5

In [29]:
del w20_2['지점']

In [30]:
w20_2 = w20_2.rename(columns = {'기온(°C)' : '평균기온(°C)'})

In [31]:
w20_2 = w20_2.fillna(0)

In [32]:
w20_2 = w20_2.reset_index()

In [33]:
# 20분 단위인 실적데이터와 병합하기 위해 시간단위 기준칼럼 새로 생성
w20_2['일시_시'] = pd.to_datetime(w20_2['일시'], format = '%Y-%m-%d %H')

w20_2['일시_시'] = w20_2['일시_시'].dt.strftime('%Y-%m-%d %H')

In [34]:
# 실적데이터도 병합을 위한 기준칼럼 생성

data2 = data2.reset_index()

data2['일시_시'] = pd.to_datetime(data2['방송일시'], format = '%Y-%m-%d %H')

data2['일시_시'] = data2['일시_시'].dt.strftime('%Y-%m-%d %H')

In [35]:
data2.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,방송일,방송요일,방송시간,평일/주말,공휴일,계절,방송회차,무이자/일시불,프라임시간,일시_시
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,1,0,06:20:00,0,0,여름,1,NaN,0.0,2020-06-01 06
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,1,0,06:40:00,0,0,여름,2,NaN,0.0,2020-06-01 06
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,1,0,07:00:00,0,0,여름,3,NaN,0.0,2020-06-01 07
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,...,1,0,07:20:00,0,0,여름,1,NaN,1.0,2020-06-01 07
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,...,1,0,07:40:00,0,0,여름,2,NaN,1.0,2020-06-01 07

In [36]:
w20_2.head()

,일시,평균기온(°C),강수량(mm),풍속(m/s),습도(%),전운량(10분위),일시_시
0,2020-06-01 06:00,16.70,0.1,2.9,94.5,6.0,2020-06-01 06
1,2020-06-01 07:00,16.90,0.0,2.8,90.0,6.0,2020-06-01 07
2,2020-06-01 08:00,17.85,0.0,3.0,84.0,7.0,2020-06-01 08
3,2020-06-01 09:00,19.40,0.0,2.4,75.5,3.0,2020-06-01 09
4,2020-06-01 10:00,20.60,0.0,3.3,65.0,1.5,2020-06-01 10

In [37]:
# merge
data3 = pd.merge(data2,w20_2, on = '일시_시')

In [38]:
# del data3['index']
del data3['일시_시']
del data3['일시']

In [39]:
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,공휴일,계절,방송회차,무이자/일시불,프라임시간,평균기온(°C),강수량(mm),풍속(m/s),습도(%),전운량(10분위)
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,0,여름,1,NaN,0.0,16.7,0.1,2.9,94.5,6.0
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,0,여름,2,NaN,0.0,16.7,0.1,2.9,94.5,6.0
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,0,여름,3,NaN,0.0,16.9,0.0,2.8,90.0,6.0
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,...,0,여름,1,NaN,1.0,16.9,0.0,2.8,90.0,6.0
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,...,0,여름,2,NaN,1.0,16.9,0.0,2.8,90.0,6.0

### 2.3.2 체감온도 칼럼 추가
  
- 체감온도(°C)
    - 13.12+0.6215×T-11.37V0.16+0.3965V0.16×T   
    - T = 기온, V = 풍속(km/h)

In [40]:
# 계산을 위해 풍속(km/h)으로 고치기

data3['풍속(km/h)'] = data3['풍속(m/s)'] *3.6

data3['체감온도'] = round(13.12+0.6215*data3['평균기온(°C)']-11.37*data3['풍속(km/h)']**0.16+0.3965*data3['풍속(km/h)']**0.16*data3['평균기온(°C)'],1)

In [41]:
del data3['풍속(km/h)']

In [42]:
data3[['방송일시','체감온도']]

                     방송일시  체감온도
0     2020-06-01 06:20:00  16.6
1     2020-06-01 06:40:00  16.6
2     2020-06-01 07:00:00  16.9
3     2020-06-01 07:20:00  16.9
4     2020-06-01 07:40:00  16.9
...                   ...   ...
2886  2020-07-01 00:20:00  18.8
2887  2020-07-01 00:40:00  18.8
2888  2020-07-01 01:00:00  19.0
2889  2020-07-01 01:20:00  19.0
2890  2020-07-01 01:40:00  19.0

[2891 rows x 2 columns]

### 2.3.3 강수여부 칼럼 추가


- 비옴  
    - 강수량 >= 10mm

In [43]:
data3.loc[data3['강수량(mm)'] >= 1.0, '비옴'] = 1
data3.loc[data3['강수량(mm)'] < 1.0, '비옴'] = 0

# float -> int
data3['비옴'] = data3['비옴'].astype(int)

In [44]:
data3.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,세부상품군,브랜드,...,방송회차,무이자/일시불,프라임시간,평균기온(°C),강수량(mm),풍속(m/s),습도(%),전운량(10분위),체감온도,비옴
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,1,NaN,0.0,16.7,0.1,2.9,94.5,6.0,16.6,0
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,2,NaN,0.0,16.7,0.1,2.9,94.5,6.0,16.6,0
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN,셔츠,잭필드,...,3,NaN,0.0,16.9,0.0,2.8,90.0,6.0,16.9,0
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,...,1,NaN,1.0,16.9,0.0,2.8,90.0,6.0,16.9,0
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN,란쥬,쿠미투니카,...,2,NaN,1.0,16.9,0.0,2.8,90.0,6.0,16.9,0

In [45]:
# 파일 저장
data3.to_csv('data/test_data_06.csv', index=False)